<div ng-controller="UsersController as UC">
	<div>
		<h1>Texas Patriots sale page</h1>
	</div>
	<h2>Welcome {{UC.current_user.first_name}} {{UC.current_user.last_name}}</h2>
	<div style="display: inline-block;float: right">
		<button ng-click="UC.logout()">Logout</button>
	</div>	
	<hr>
	<div>
		<h2>Create a Posting</h2>
		<form ng-submit="UC.createPost(UC.newPost)">
		<textarea cols="50" rows="5" ng-model="UC.newPost.post"></textarea>
		<input type="submit" value="Post">	
		</form>
	</div>
	<hr>
	<div>
		<div ng-init="UC.indexPost()">
			<ul ng-repeat="post in UC.posts">
				<li>{{post.author}} said {{post.post}}</li>
				<li>Likes:{{post.likes}} Dislikes:{{post.dislikes}}</li>
				<li><a href="#!/comment/{{post._id}}"> Comments</a></li>
				<li ng-show="UC.current_user.first_name == post.author" ng-click="UC.delete(post._id)"><button>DELETE</button></li>

			</ul>
		</div>
	</div>
</div>