<div id="dcontainer">
	<div ng-controller="UsersController as UC">
		<div>
			<h1 class="header">Texas Patriots sale page</h1>
		</div>
		<h2 class="welcome">Welcome {{UC.current_user.first_name}} {{UC.current_user.last_name}}</h2>
		<div style="display: inline-block;float: right">
			<button id="logout" ng-click="UC.logout()">Logout</button>
		</div>	
		<hr>
		<div>
			<h2 class="welcome">Create a Post or Listing</h2>
			<form ng-submit="UC.createPost(UC.newPost)">
			<textarea cols="50" rows="5" ng-model="UC.newPost.post"></textarea>
			<input id="post" type="submit" value="Post">	
			</form>
		</div>
		<hr>
		<div>
			<div ng-init="UC.indexPost()">
				<ul class="eachpost" ng-repeat="post in UC.posts | orderBy: '-createdAt'">
					<li class="postings"><span class="names">{{post.author}}</span> said:</li>
					<li class="posting">"{{post.post}}" At {{post.createdAt | date:'medium' : 'CT'}}</li>
					<li class="postings"> <button class="like">Like</button> {{post.likes}}</li>
					<li class="postings"><a href="#!/comment/{{post._id}}"> Comment or make offer</a></li>
					<li ng-show="UC.current_user.first_name == post.author" ng-click="UC.delete(post._id)"><button class="delete">DELETE</button></li>

				</ul>
			</div>
		</div>
	</div>
</div>	